{% extends "GeoAppBundle::layout.html.twig" %}

{% block title %}
  Check your Joker tickets automaticaly
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function(){
  $('#form-login').form({
    username: {
      identifier  : '_username',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your username'
        },
      ]
    },
    password: {
      identifier  : '_password',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your password'
        },
      ]
    },
  }, {
    on: 'blur',
    inline: 'true'
  });
;
})
</script>
{% endblock %}

{% block wrapper %}
<div class="ui smallbox">

    <div class="logo" style="text-align:center">Refenes</div>
    <div class="ui piled segment">
      {% if error %}
          <div class="ui message warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      <form id="form-login" action="{{ path('login_check') }}" class="ui form" method="post">

        <div class="field" style="padding-top:5px;">
          <div class="ui big fluid left icon input">
            <i class="user icon"></i>
            <input type="text" name="_username" placeholder="Username" value="{{ last_username }}">
          </div>
        </div>
        <div class="field" style="padding-top:5px;">
          <div class="ui big fluid left icon input">
            <i class="lock icon"></i>
            <input type="password" name="_password" placeholder="Password">
          </div>
        </div>
        <div class="field" style="padding-top:5px;">
          <button type="submit" class="ui big fluid button blue">
            <i class="sign in icon"></i>
            Login
          </button>
        </div>
      </form>
      <div class="ui horizontal divider">Or</div>
      <a href="{{ path('register') }}" class="ui big fluid button green">
        <i class="icon edit"></i> Register
      </a>
    </div>
</div>
{% endblock %}
