<div class="ui small modal">
    <i class="close icon"></i>

    <div class="header">
        Help
    </div>

    <div class="ui form content" style="padding-top: 0">
        {{ help|raw }}
    </div>

</div>
