{% extends "GeoAppBundle::base.html.twig" %}

{% block title %}
  Login
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function(){

  $('#form-register .ui.checkbox').checkbox();

  $('#form-register').form({
    username: {
      identifier  : 'username',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a username'
        },
        {
          type   : 'length[6]',
          prompt : 'Username too sort.<br>Try with one with more than 6 characters'
        },
      ]
    },
    password: {
      identifier  : 'password',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a password'
        },
        {
          type   : 'length[6]',
          prompt : 'Password too sort.<br>Try with one with more than 6 characters'
        },
      ]
    },
    repeat_password: {
      identifier  : 'repeat_password',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please repeat the password'
        },
        {
          type   : 'match[password]',
          prompt : 'Passwords do not match'
        },
      ]
    },
  }, {
    on: 'blur',
    inline: 'true'
  });
;
})
</script>
{% endblock %}

{% block wrapper %}
<div class="ui smallbox">

    <div class="logo" style="text-align:center">Register</div>
    <div class="ui piled segment">

      <form id="form-register" action="{{ path('register') }}" class="ui form" method="post">

        <div class="field" style="padding-top:5px;">
          <div class="ui big fluid left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field" style="padding-top:5px;">
          <div class="ui big fluid left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field" style="padding-top:5px;">
          <div class="ui big fluid left icon input">
            <i class="refresh icon"></i>
            <input type="password" name="repeat_password" placeholder="Repeat Password">
          </div>
        </div>
        <div class="field" style="padding-top:5px;text-align:center">
          <div class="ui checkbox">
            <input type="checkbox" name="tos">
            <label>I agree to the <a href="#">Terms of Service</a>.</label>
          </div>
        </div>
        <div class="field" style="padding-top:5px;">
          <button type="submit" class="ui big fluid button green">
          <i class="icon edit"></i>
            Register
          </button>
        </div>

      </form>
    </div>
</div>
{% endblock %}
